.button {
  display: inline-block;
  padding: 30px 45px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;

  text-decoration: none;
  color: $white;
  background-color: $orange;
  border: 0;
  box-sizing: border-box;

}
