.button {
  display: block;
  padding: 30px 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;


  text-decoration: none;
  color: $white;
  background-color: $orange;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: $orange-hover;
  }
}
