.feedback {
  @include wrapper;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 170px;
  padding-left: 22px;
  // padding: 30px 0;
  text-align: center;
  color: $black;
}

.feedback__bg {
  margin: 0;
  padding: 70px 0;
  width: 70%;
  min-height: 455px;
  background-image: url("../img/feedback-bg-desktop@1x.jpg");
  background-color: $orange;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    width: 100% ;
  }
}

.feedback__inner {
  position: absolute;
  right: 0;
  margin: 0 auto;
  width: 655px;
  padding: 50px;
  background-color: $white;
  box-sizing: border-box;
  box-shadow: 0 4px 30px rgba($black, 0.1);
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    top: 65px;
    left: 52%;
    width: 90%;
    transform: translateX(-50%);
  }
}

.feedback__title {
  margin: 0 0 11px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: inherit;
}

.feedback__text {
  margin: 0 0 20px;
}
