.form__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form__input {
  width: 48%;
  height: 50px;
  padding-left: 30px;
  border: 1px solid rgba($black-special, 0.3);
  box-sizing: border-box;
}

.form__button {
  margin: 0 auto;
  padding: 15px 43px;
  line-height: 20px;
}
