.header {
  min-height: 99px;
}

.header__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.header__logo {
  display: inline-block;
  margin-right: auto;
  padding: 20px;

  @media (max-width: $tablet-width) {
    padding: 19px 20px 10px;

    svg {
      width: 44px;
      height: auto;
    }
  }
}

.header__nav {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid tomato;
    z-index: 10;
    background-color: $white;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: inherit;

  svg {
    fill: none;
    stroke: $black;
  }

  &:hover {
    color: $orange-hover;

    svg {
      stroke: $orange-hover;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
