.header {
  position: relative;
  color: $black;
  font-weight: 500;
  text-align: left;
}

.header__wrapper {
  @include wrapper;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    display: block;
    width: auto;
  }
}

.header__logo {
  display: block;
  margin-right: auto;
  padding: 40px 20px 30px;

  @media (max-width: $tablet-width) {
    padding: 14px 20px 8px;

    svg {
      width: 44px;
      height: auto;
    }
  }
}

.header__nav {
  margin-right: 1.75rem;

  @media (max-width: $tablet-width) {
    margin: 0;
    width: 100%;
    z-index: 10;
    background-color: $white;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  padding: 22px;
  font-size: 18px;
  color: inherit;

  svg {
    margin-right: 1rem;
    fill: none;
    stroke: $black;
  }

  &:hover {
    color: $orange-hover;

    svg {
      stroke: $orange-hover;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
