.header {
  position: relative;
  color: $black;
  font-weight: 500;
  text-align: left;
}

.header__wrapper {
  @include wrapper;
  display: flex;
  align-items: center;
  outline: 1px solid red;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.header__logo {
  display: block;
  margin-left: -14px;
  margin-right: auto;
  padding: 38px 21px 30px 0px;

  @media (max-width: $tablet-width) {
    padding: 14px 20px 8px;

    svg {
      width: 44px;
      height: auto;
    }
  }
}

.header__nav {
  padding-right: 18px;
  @media (max-width: $tablet-width) {
    z-index: 10;
    background-color: $white;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  padding: 19px 14px 14px;
  font-size: 18px;
  color: inherit;

  svg {
    margin-right: 9px;
    fill: none;
    stroke: $black;
  }

  &:hover {
    color: $orange-hover;

    svg {
      stroke: $orange-hover;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
