.places {
  margin-bottom: 136px;

  background-image: url("../img/places-bg.svg");
  background-repeat: no-repeat;
  background-size: 1444px auto;
  background-position: bottom 403px center;
}

.places__wrapper {
  @include wrapper;
}

.places__title {
  position: relative;
  margin: 0;
  margin-bottom: 64px;
  width: 30%;
  letter-spacing: -1.24px;

  &::after {
    @include line(-33px, 228px, 4px, $orange);
  }

  @media (max-width: $tablet-width) {
    padding: 0 30%;
    width: auto;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.places__text {
  margin: 0;
  margin-bottom: 55px;
  width: 33.33%;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width) {
    padding: 0 30%;
    width: auto;
  }
}

.places__list {
  @include list-style-reset;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 98px;
    padding: 0 7%;
  }
}

.places__item {
  position: relative;
  margin: 0;
  margin-bottom: 100px;
  flex: 1 1 320px;
  max-width: 36%;
  box-sizing: border-box;
}

.places__card {
  display: block;
  margin: 0 auto;
  // min-width: 288px;
  width: 30vw;
  max-width: 350px;
}

.places__spotname {
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 215px;
  padding: 16px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  color: $black-special;
  background-color: $white;
  transform: translateX(-50%);
}

.places__slider {
  margin-top: -11px;
  margin-bottom: 226px;

  @media (max-width: $tablet-width) {
    margin: 0 calc(((100vw - 100%) / 2) * -1);
  }
}
