.places {
  margin-bottom: 136px;

  background-image: url("../img/places-bg.svg");
  background-repeat: no-repeat;
  background-size: 1444px auto;
  background-position: bottom 403px center;
}

.places__wrapper {
  @include wrapper;

  // @media (max-width: $tablet-width) {
  //   width: 100%;
  // }
}

.places__title {
  position: relative;
  margin: 0;
  margin-bottom: 64px;
  width: 30%;
  letter-spacing: -1.245px;

  &::after {
    @include line(-33px, 228px, 4px, $orange);
  }

  @media (max-width: $tablet-width) {
    padding: 0 30%;
    width: auto;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.places__text {
  margin: 0;
  margin-bottom: 55px;
  width: 30%;
  letter-spacing: -0.466667px;

  @media (max-width: $tablet-width) {
    padding: 0 30%;
    width: auto;
  }
}

.places__list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    margin-bottom: 98px;
    padding: 0 7%;
  }
}

.places__item {
  position: relative;
  margin-bottom: 100px;
  width: 30%;
  min-width: 288px;

  &:nth-last-child(2) {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
    margin-left: 120px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    width: 45%;

    &:last-child {
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    a {
      width: 100%;
    }
  }
}

.places__spotname {
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 215px;
  padding: 16px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  color: $black-special;
  background-color: $white;
  transform: translateX(-50%);
}

.places__slider {
  margin-top: -11px;
  margin-bottom: 226px;

  @media (max-width: $tablet-width) {
    margin: 0 calc(((100vw - 100%) / 2) * -1);
  }
}
