.reviews {
  position: relative;
  background-color: $white;

  &::before {
    position: absolute;
    content: "Отзывы";
    top: 20px;
    left: 26px;
    font-size: 30px;
    color: $black-special;
  }

  &::after {
    @include pseudo;
    top: 67px;
    left: 30px;
    width: 68px;
    height: 0.73px;
    background-color: $orange;
  }
}

.reviews__author {
  display: flex;
  align-items: center;
}

.reviews__userpic {
  margin-right: 15px;
  width: 37px;
}

.reviews__name {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  color: $black-special;
}
