.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $black;
}

.site-nav__toggler {
  display: none;
}

.site-nav__list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.site-nav__link {
  padding: 20px;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $orange-hover;
  }
}
