.slide {
  position: relative;
}

.slide__info {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  @media (max-width: $tablet-width) {
    width: 100%;
    flex-direction: column;
  }
}

.slide__text-column {
  flex: 1;
  margin-right: 30px;
  min-width: 353px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.slide__img-wrapper {
  flex: 1;
  overflow: hidden;
  min-width: 354px;

  img {
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $tablet-width) {
    min-height: 415px;
  }
}

.slide__review {
  position: absolute;
  bottom: 50%;
  right: 0;
  margin: 0;
  width: 382px;
  transform: translateY(50%);

  @media (max-width: $tablet-width) {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}

.slide__title {
  position: relative;
  margin: 8px 0 53px;
  letter-spacing: -1.25px;

  &::after {
    @include line(-21px, 175px, 4px, $orange);
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;

    &::after {
      display: none;
    }
  }
}

.slide__text {
  margin: 0;
  margin-bottom: 50px;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    padding: 0 15px;
  }
}

.slide__button {
  width: 250px;
  margin-bottom: 15px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}
