.slider__tabs {
  @include list-style-reset;
  position: relative;
  display: flex;
  border-bottom: 1px solid rgba($black-special, 0.3);
  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 768px;
  }
}

.slider__tab {
  margin-right: 100px;
}

.slider__link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.415px;
  text-align: center;
  color: rgba($black-special, 0.3);

  &--active {
    color: $orange;
  }

  @media (max-width: $tablet-width) {
    margin-right: 100px;
  }
}

.slider__list {
  @include list-style-reset;
}

.slider__slide {
  margin-top: 71px;
}

.swiper-container {
  position: relative;
  width: 77%;
  margin-bottom: 82px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 768px;
  }

  @media (max-width: $mobile-width) {
    width: 300px;
  }
}

.swiper-wrapper {
  display: flex;
  position: relative;
}
