.slider__nav {
  @include list-style-reset;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 899px;
  border-bottom: 1px solid rgba($black-special, 0.3);
}

.slider__link {
  cursor: pointer;
  display: block;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.415px;
  color: rgba($black-special, 0.3);

  &--active {
    color: $orange;
  }
}

.slider__list {
  @include list-style-reset;
  margin-bottom: 241px;
}

.slider__item {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;

  &--greece {
    background-image: url("../img/greece-bg-desktop.jpg");

    @media (max-width: $tablet-width) {
      background-image: url("../img/greece-bg-tablet.jpg");
    }
  }

  &--albania {
    background-image: url("../img/albania-bg-desktop.jpg");

    @media (max-width: $tablet-width) {
      background-image: url("../img/albania-bg-tablet.jpg");
    }
  }

  &--makedonia {
    background-image: url("../img/makedonia-bg-desktop.jpg");

    @media (max-width: $tablet-width) {
      background-image: url("../img/makedonia-bg-tablet.jpg");
    }
  }


  &--montenegro {
    background-image: url("../img/montenegro-bg-desktop.jpg");

    @media (max-width: $tablet-width) {
      background-image: url("../img/montenegro-bg-tablet.jpg");
    }
  }

  &--croatia {
    background-image: url("../img/croatia-bg-desktop.jpg");

    @media (max-width: $tablet-width) {
      background-image: url("../img/croatia-bg-tablet.jpg");
    }
  }

  &--hidden {
    display: none;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    background-position: bottom center;
  }
}

.slider__info {
  width: 30%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.slider__title {
  position: relative;
  margin: 0;
  margin-bottom: 53px;

  &::after {
    @include line (-20px, 175px, 4px, $orange);
  }

  @media (max-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}

.slider__text {
  margin: 0;
  margin-bottom: 50px;
}

.slider__button {
  @media (max-width: $tablet-width) {
    margin-bottom: 110px;
  }
}

.slider__reviews {
  margin-left: auto;
  width: 30%;


  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    width: 90%;
  }
}
