.slider__tabs {
  @include list-style-reset;
  display: flex;
  border-bottom: 1px solid rgba($black-special, 0.3);

  @media (max-width: $tablet-width) {
    margin-left: 30px;
    width: auto;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.slider__tab {
  margin-right: 100px;
}

.slider__link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.41px;
  text-align: center;
  color: rgba($black-special, 0.3);
  border: 0;
  background-color: transparent;

  &--active {
    color: $orange;
  }

  @media (max-width: $tablet-width) {
    margin-right: 100px;
  }
}

.slider__list {
  @include list-style-reset;
}

.slider__slide {
  margin-top: 71px;
}
