.swiper__tabs {
  @include wrapper;
  position: relative;
  width: auto;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 768px;
  }
}

.swiper__tabs-list {
  @include list-style-reset;

  position: relative;
  width: 1900px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
}

.swiper__list {
  @include list-style-reset;
}

.swiper__item {
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.swiper__info {
  width: 34.45%;
  margin-right: 6%;
  padding-top: 14px;
  min-width: 300px;
  margin-bottom: 17px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: auto;
  }
}

.swiper__title {
  position: relative;
  margin: 0 0 50px;
  letter-spacing: -1.245px;


  &::after {
    @include line (-21px, 175px, 4px, $orange);
  }

  @media (max-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}

.swiper__img {
  display: block;
  margin-top: -18px;
  width: 36.7207%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.swiper__text {
  margin: 0;
  margin-bottom: 50px;
  padding-right: 30px;
  letter-spacing: -0.466667px;

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.swiper__button {
  width: 250px;
  margin-bottom: 15px;
  letter-spacing: 2.5px;

  @media (max-width: $tablet-width) {
    margin-bottom: 110px;
  }
}

.swiper__reviews {
  position: absolute;
  right: 0;
  margin: 0;
  width: 382px;
  z-index: 10;

  @media (max-width: $tablet-width) {
    position: absolute;
    right: 50%;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    transform: translateX(50%);
  }

  @media (max-width: $mobile-width) {
    width: 90%;
  }
}

.swiper-container {
  position: relative;
  width: 77%;
  margin-bottom: 82px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 768px;
  }

  @media (max-width: $mobile-width) {
    width: 300px;
  }
}

.swiper-wrapper {
  @include list-style-reset;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba($black-special, 0.3);
}

.swiper-slide {
  width: auto;
  height: auto;
  padding-top: 7px;
  padding-right: 100px;
  padding-bottom: 8px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.swiper-slide__link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.415px;
  text-align: center;
  color: rgba($black-special, 0.3);

  &--active {
    color: $orange;
  }

  @media (max-width: $tablet-width) {
    margin-right: 100px;
  }
}
