.tariffs {
  display: flex;
  flex-direction: column;
  color: $black-special;
  padding: 30px;
  border: 1px solid $black-special;
  border-radius: 6px;
  box-sizing: border-box;
  min-height: 672px;

  &--complex {
    border: 4px solid $orange;
  }
}

.tariffs__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
}

.tariffs__text {
  position: relative;
  margin: 0;
  margin-bottom: 59px;
  width: 289px;

  &::after {
    @include line(-20px, 100%, 1px, rgba($black-special, 0.3));
  }
}

.tariffs__list {
  @include list-style-reset;
  line-height: 32px;
}

.tariffs__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;

  &::after,
  &::before {
    height: 2px;
    background-color: $orange;
  }

  &::after {
    @include pseudo;
    top: 18px;
    left: 0;
    width: 6px;
    transform: rotate(45deg);
  }

  &::before {
    @include pseudo;
    top: 15px;
    left: 1px;
    width: 15px;
    transform: rotate(-50deg);
  }
}

.tariffs__button {
  margin-top: auto;
}

.tariffs--complex .tariffs__title {
  color: $orange;
}

.tariffs--complex .tariffs__item {
  &::after,
  &::before {
    background-color: $black;
  }
}

.tariffs--complex .tariffs__text {
  &::after {
    background-color: rgba($orange, 0.5);
  }
}
