@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper {
  margin: 0 auto;
  max-width: $desktop-width;

  // @media (min-width: @tablet-width) {
  //   padding-left: 50px;
  //   padding-right: 50px;
  //   max-width: 668px;
  // }

  // @media (min-width: @desktop-width) {
  //   max-width: 1050px;
  // }
}

// @mixin pseudo ($display: block, $pos: absolute, $content: "") {
//   content: $content;
//   display: $display;
//   position: $pos;
// }

@mixin pseudo {
  content: "";
  position: absolute;
}

@mixin wrapper {
  margin: 0 auto;
  max-width: $desktop-width;

  // @media (max-width: @tablet-width) {
  //   max-width: 1050px;
  // }

  @media (max-width: $mobile-width) {
    padding-left: 5%;
    padding-right: 5%;
    min-width: $min-width;
    box-sizing: border-box;
  }

}
