@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin wrapper {
  margin: 0 auto;
  padding: 0 20%;
  max-width: 260px;

  // @media (min-width: @tablet-width) {
  //   padding-left: 50px;
  //   padding-right: 50px;
  //   max-width: 668px;
  // }

  // @media (min-width: @desktop-width) {
  //   max-width: 1050px;
  // }
}
